@import url('https://fonts.googleapis.com/css?family=KoHo&display=swap');

body {
    margin: 0px;
    padding: 0px; 
    font-family: 'KoHo', sans-serif;
    background-color: rgb(255, 255, 240);
}

h1 {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
}

figure {
    float: left;
} 

img {
    height: 9rem;
    width: 15rem;
}

.buttonContainer {
    display: inline-block;
}

.buttonContainer > button {
    display: inline-block;
    margin-left: 1rem; 
}

button {
    font-size: 15px; 
    padding: 0.2rem 0.5rem;
    border-radius: 25px; 
    font-family: 'KoHo', sans-serif;
}

main > a {
    text-align: center;
}