@import url('https://fonts.googleapis.com/css?family=KoHo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');

body {
    margin: 0px;
    padding: 0px; 
    font-family: 'KoHo', sans-serif;
    background-color: #d6cfca;
}

header{
    display: flex;
    justify-content: space-between;
    color: #e88539;
    background-color: #4b4842 ;
    font-family: 'Teko', sans-serif;
}


header{
    background-color: #373737;
}
h1 {

    text-align: center;
    margin: 1.3rem;
    font-size: 63px;
    text-shadow: 2px 2px 2px #0D1F2D;
}

main {
    display: flex;
    flex-direction: column;
}

figure {
    float: left;
} 

img {
    height: 9rem;
    width: 15rem;
    padding: 2px;
    background-color: #373737;
}

.buttonContainer {
    display: inline-block;
}

.buttonContainer > button {
    display: inline-block;
    margin-left: 1rem; 
}

button {
    font-size: 15px; 
    padding: 0.2rem 0.5rem;
    border-radius: 25px; 
    font-family: 'KoHo', sans-serif;
    background-color: rgb(255,255,240)
}

button:hover{
    color:#8f8984
}

button:active,
button:focus{
    color: #e8a16b;
    outline:0;
}

main > a {
    text-align: center;
}

header > a{
    color:#e88539;
    text-decoration: none;
    text-shadow: 1px 1px 1px #0D1F2D;
    margin-right: 1.3rem;
    font-size: 47px
}

a:active,
a:focus{
    color: #8e4a16;
    outline:0;
}